Pause before close to avoid TIME_WAIT

Maybe a bit off-topic for this PR, but when returning a `Connection: close` do you pause before closing to allow the client to do an active close avoiding `TIME_WAIT` on the server side?

_Originally posted by @milessabin in https://github.com/http4s/blaze/issues/913#issuecomment-2437347922_
            

I haven't researched this yet, but [Section 9.6 of RFC 9112](https://datatracker.ietf.org/doc/html/rfc9112#name-tear-down) is probably what we _want_ to do.

IIRC `shutdownOutput` in `Socket`/`SocketChannel`  were introduced to support exactly this scenario.